{extend name='public/app' /}

{block name='title'}<title>首页</title>{/block}

{block name="css"}
	<link rel="stylesheet" type="text/css" href="__INDEX__/css/index.css">
	<link rel="stylesheet" type="text/css" href="__INDEX__/css/swiper.min.css">
{/block}

{block name='content'}
	<!-- 顶部轮播 -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="__INDEX__/images/swiper/1.jpg" width="100%"></div>
      <div class="swiper-slide"><img src="__INDEX__/images/swiper/2.jpg" width="100%"></div>
      <div class="swiper-slide"><img src="__INDEX__/images/swiper/3.jpg" width="100%"></div>
    </div>
  </div>

  	<!-- 广告 -->
  <div class="advert">

  	<!-- 标签广告 -->
  	<div class="advert-tags">
  		<div class="advert-tags-container">
  			<div class="advert-tags-container-left">
  				<div class="advert-icon"></div>
  				<p>一定贷到钱</p>
  			</div>
  			<div class="advert-tags-container-middle">
  				
  			</div>
  			<div class="advert-tags-container-right">
  				<div class="advert-icon"></div>
  				<p>黑名单查询</p>
  			</div>
  		</div>
  	</div>

  	<!-- 滚动播报 -->
  	<div class="advert-carousel">
  		<div class="advert-carousel-container">
	  		<div class="advert-carousel-img"></div>
	  		<div class="advert-carousel-text">
	  			<h5>有钱花</h5>
	  			<p>189****6307下款 50000 元成功</p>
	  		</div>
  		</div>
  	</div>
  </div>

  <!-- 推荐栏 -->
  <div class="recommend">
		<div>
			<h4>通过率98%</h4>
			<p>不查征信，低门槛</p>
		</div>
		<div>
			<h4>新口子秒过</h4>
			<p>超高通过率，秒下款</p>
		</div>  	
  </div>

  <!-- 秒下款产品 -->
  <div class="second-product-header">
  		<div class="second-product-header-container">
  			<div></div>
  			<h5>秒下款产品</h5>
  			<p>(全部申请100%下款)</p>
  		</div>
  </div>
  <div class="second-product">
  	<!-- 产品容器 -->
  	<div class="second-product-list">
  		<div class="second-product-container">
  			<div>
  				<img src="/uploads/products/jie.jpg">
  			</div>
  			<p>金象贷</p>
  		</div>
		<!-- 分割线 -->
		<div class="line"></div>

		<div class="second-product-container">
  			<div>
  				<img src="/uploads/products/jie.jpg">
  			</div>
  			<p>金象贷</p>
  		</div>
		<!-- 分割线 -->
		<div class="line"></div>

		<div class="second-product-container">
  			<div>
  				<img src="/uploads/products/jie.jpg">
  			</div>
  			<p>金象贷</p>
  		</div>
		<!-- 分割线 -->
		<div class="line"></div>

		<div class="second-product-container">
  			<div>
  				<img src="/uploads/products/jie.jpg">
  			</div>
  			<p>金象贷</p>
  		</div>
  	</div>
  </div>

  	<!-- 产品列表 -->
  	<div class="product">
  		<!-- 产品分类头 -->
  		<div class="product-header">
  			<div class="product-header-container">
  				<div>
  					<img src="__INDEX__/images/product/new.png">
  				</div>
  			<h6>凭身份证下款</h6>
  			</div>
  		</div>
		<!-- 产品列表 -->
  		<div class="product-list">
  			<div class="product-container">
  				<div class="product-top">
  					<div class="product-top-left">
  						<div class="product-top-left-img">
  							<img src="/uploads/products/jie.jpg">
  						</div>

  						<div class="product-top-left-text">
  							<h4>有钱花</h4>
  							<p>极速审批，黑白均下款</p>
  						</div>
  					</div>

  					<div class="product-top-right">
  						<span>8000</span>
  						<p>人已下款</p>
  					</div>
  				</div>

  				<div class="product-middle"></div>

  				<div class="product-buttom">
  					<div class="product-buttom-left">
  						<p>可借额度：<span>2000</span></p>
  						<p>最快20分钟下款</p>
  					</div>

  					<div class="product-buttom-right">
  						<p>参考利率：日利率0.067%</p>
  						<p>贷款期限：7天</p>
  					</div>
  				</div>	
  			</div>
  		</div>
  	</div>
	

{/block}

{block name="js"}
<script src="__INDEX__/js/swiper.min.js"></script>
<script type="text/javascript">
	var swiper = new Swiper('.swiper-container',{
		spaceBetween: 30,
      	centeredSlides: true,
      	autoplay: {
        	delay: 2500,
        	disableOnInteraction: false,
      	},
	});
</script>
{/block}