{extend name='public/app' /}

{block name='title'}<title>首页</title>{/block}

{block name="css"}
	<link rel="stylesheet" type="text/css" href="__INDEX__/css/index.css">
	<link rel="stylesheet" type="text/css" href="__INDEX__/css/swiper.min.css">
{/block}

{block name='content'}
	<!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="__INDEX__/images/1.jpg"></div>
      <div class="swiper-slide"><img src="__INDEX__/images/2.jpg"></div>
      <div class="swiper-slide"><img src="__INDEX__/images/3.jpg"></div>
    </div>
  </div>


{/block}

{block name="js"}
<script src="__INDEX__/js/swiper.min.js"></script>
<script type="text/javascript">
	var swiper = new Swiper('.swiper-container');
</script>
{/block}