{include file='public/meta' /}
<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>产品名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="" lay-verify="required"
                       autocomplete="off" value="{$product->name}" class="layui-input" disabled>
            </div>

            <label for="loan_time" class="layui-form-label">
                <span class="x-red">*</span>放款时间
            </label>
            <div class="layui-input-inline">
                <input type="text" disabled id="loan_time" value="{$product->loan_time}" name="loan_time" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>

            <label for="loan_record" class="layui-form-label">
                <span class="x-red">*</span>下款人数
            </label>
            <div class="layui-input-inline">
                <input type="number" id="loan_record" name="loan_record" required="" lay-verify="required"
                       autocomplete="off" value="{$product->loan_record}" class="layui-input" disabled>
            </div>

        </div>

        <div class="layui-form-item">
            <label for="money" class="layui-form-label">
                <span class="x-red">*</span>额度
            </label>
            <div class="layui-input-inline">
                <input disabled type="text" value="{$product->money}" id="money" name="money" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>

            <label for="money_section" class="layui-form-label">
                <span class="x-red">*</span>额度区间
            </label>
            <div class="layui-input-inline">
                <select name="money_section" disabled lay-verify="required">
                    <option value="{$product->money_section}" selected>{$product->money_section}</option>
                </select>
            </div>

            <label for="card" class="layui-form-label">
                <span class="x-red">*</span>身份
            </label>
            <div class="layui-input-inline">
                <select name="card" lay-verify="required" disabled>
                    <option value="{$product->card}" selected>{$product->card}</option>
                </select>
            </div>

        </div>

        <div class="layui-form-item">

            <label for="interest_rate" class="layui-form-label">
                <span class="x-red">*</span>利率
            </label>
            <div class="layui-input-inline">
                <input type="text" id="interest_rate" name="interest_rate" required="" lay-verify="pass"
                       autocomplete="off" value="{$product->interest_rate}" class="layui-input" disabled>
            </div>

            <label for="loan_period" class="layui-form-label">
                <span class="x-red">*</span>贷款期限
            </label>
            <div class="layui-input-inline">
                <input type="text" id="loan_period" name="loan_period" required="" lay-verify="required"
                       autocomplete="off" value="{$product->loan_period}" class="layui-input" disabled>
            </div>

            <label for="period_section" class="layui-form-label">
                <span class="x-red">*</span>期限区间
            </label>
            <div class="layui-input-inline">
                <select name="period_section" lay-verify="required" disabled>
                    <option value="{$product->period_section}">{$product->period_section}</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="product_url" class="layui-form-label">
                <span class="x-red">*</span>产品链接
            </label>
            <div class="layui-input-inline">
                <input type="text" id="product_url" name="product_url" required="" lay-verify="required"
                       autocomplete="off" value="{$product->product_url}" class="layui-input" disabled>
            </div>

            <label for="identity" class="layui-form-label">
                <span class="x-red">*</span>身份证明
            </label>
            <div class="layui-input-inline">
                <input type="text" id="identity" name="identity" required="" lay-verify="required"
                       autocomplete="off" value="{$product->identity}" class="layui-input" disabled>
            </div>

            <label for="product_introduction" class="layui-form-label">
                <span class="x-red">*</span>产品简介
            </label>
            <div class="layui-input-inline">
                <input type="text" id="product_introduction" name="product_introduction" required="" lay-verify="required"
                       autocomplete="off" value="{$product->product_introduction}" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="auxiliary" class="layui-form-label">
                <span class="x-red">*</span>辅助文件
            </label>
            <div class="layui-input-inline">
                <input type="text" id="auxiliary" name="auxiliary" required="" lay-verify="required"
                       autocomplete="off" value="{$product->auxiliary}" class="layui-input" disabled>
            </div>

            <label for="require_age" class="layui-form-label">
                <span class="x-red">*</span>年龄要求
            </label>
            <div class="layui-input-inline">
                <input type="text" id="require_age" name="require_age" required="" lay-verify="required"
                       autocomplete="off" value="{$product->require_age}" class="layui-input" disabled>
            </div>

            <label for="sesame" class="layui-form-label">
                <span class="x-red">*</span>芝麻分要求
            </label>
            <div class="layui-input-inline">
                <input type="text" id="sesame" name="sesame" required="" lay-verify="required"
                       autocomplete="off" value="{$product->sesame}" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">

            <label for="create_time" class="layui-form-label">
                <span class="x-red">*</span>创建时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="create_time" name="loan_record" required="" lay-verify="required"
                       autocomplete="off" value="{$product->create_time}" class="layui-input" disabled>
            </div>

            <label for="update_time" class="layui-form-label">
                <span class="x-red">*</span>修改时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="update_time" name="loan_record" required="" lay-verify="required"
                       autocomplete="off" value="{$product->update_time}" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">产品标签</label>
            <div class="layui-input-block">
                {foreach $tags as $tag}
                {if (in_array($product->id,$tag->product->column('id'))) }
                <input type="checkbox" disabled name="tag[]" checked title="{$tag->name}" value="{$tag->id}" lay-skin="primary">
                {else /}
                <input type="checkbox" disabled name="tag[]" title="{$tag->name}" value="{$tag->id}" lay-skin="primary">
                {/if}
                {/foreach}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-block">
                {foreach $categorys as $category}
                {if (in_array($product->id,$category->product->column('id'))) }
                <input type="checkbox" disabled name="category[]" checked title="{$category->name}" value="{$category->id}" lay-skin="primary">
                {else /}
                <input type="checkbox" disabled name="category[]" title="{$category->name}" value="{$category->id}" lay-skin="primary">
                {/if}
                {/foreach}
            </div>
        </div>

        <div class="layui-form-item">
            <label for="product_icon" class="layui-form-label">
                <span class="x-red">*</span>产品图片:
            </label>

            <div class="layui-input-inline" id="imgs">
                <img src="{$product->product_icon}" alt="" width="100" height="100">
                <input type="hidden" value="{$product->product_icon}" name="product_icon">
            </div>

        </div>
    </form>
</div>
{include file='public/footer' /}
</body>
</html>