 html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      color:#000;
    }
    /*顶部轮播*/
    .swiper-container {
      width: 100%;
      height: 5rem;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    /*广告*/

    .advert-tags {
      background: white;
      height: 1rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .advert-tags-container {
      background: white;
      position: absolute;
      top:-1.6em;
      width: 90%;
      height: 2rem;
      border-radius: 0.2rem;
      box-shadow: 0px 0px 0.5rem #6565e4;
      z-index: 999;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .advert-tags-container p {
        font-size: 0.4rem;
        margin: 0;
        color: #4e4848;
    }

    .advert-icon {
      width: 0.9rem;
      height: 1rem;
    }

    .advert-tags-container-left {
      display: flex;
      flex-direction: column;
      width: 2rem;
      align-items: center;
      cursor: pointer;
    }

    .advert-tags-container-left div {
       background-image: url('/static/index/images/advert/money.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .advert-tags-container-middle {
        width: 1px;
        height: 1.1rem;
        background: #d8cece;
    }

    .advert-tags-container-right {
      display: flex;
      flex-direction: column;
      width: 2rem;
      align-items: center;
    }

    .advert-tags-container-right div {
       background-image: url('/static/index/images/advert/blacklist.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .advert-carousel {
          height: 1.5rem;
          background: #e4dede;
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: hidden;
          position: relative;
    }

    .advert-carousel-container {
      margin: 0.1rem 0 0 0.5rem;
      display: flex;
      flex-direction: row;
      height: 1rem;
      position: absolute;
    }

    .advert-carousel-img {
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;
          background-image: url('/static/index/images/advert/jie.jpg');
          background-repeat: no-repeat;
          background-size: 100% 100%;
    }

    .advert-carousel-text {
      height: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .advert-carousel-text h5 {
      font-size: 0.4rem;
      color: gray;
    }

    .advert-carousel-text p {
      font-size: 0.4rem;
      color: #4a4848;
    }

    /*推荐栏*/
    .recommend {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0.2rem 0;
    }

    .recommend div {
      width: 45%;
      background: #07c6f3;
      border-radius: 0.1rem;
      flex-direction: column;
      align-items: center;
      padding: 0.4rem 0.15rem;
    }

    .recommend h4 {
        font-size: 0.4rem;
        text-align: center;
        color: white;
    }

    .recommend p {
      font-size: 0.2rem;
      text-align: center;
      color: white;
    }

    /*秒下款产品*/

  .second-product-header {
    background: #e4dede;
  }

  .second-product-header-container {
      height: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 0.5rem;
    }

    .second-product-header-container div {
      width: 0.6rem;
      height: 0.6rem;
      margin-right: 10px;
      display: flex;
      align-items: center;
    }

 .second-product-header-container div img {
     width: 100%;
     height: 100%;
 }

    .second-product-header h6 {
          font-size: 0.4rem;
          color: #4e4848;
          margin-right: 10px;
    }

    .second-product-header p {
        font-size: 0.4rem;
        color: #796f6f;
    }

    .second-product {
      padding: 0.5rem 0.6rem;
      background:white;
    }

    .second-product-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .second-product-container {
        width: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-product-container div {
      height: 1rem;
      width: 1rem;
    }

    .second-product-container div img {
      width: 100%;
    }

    .second-product-container p {
        font-size: 0.4rem;
        color: #585050;
    }

    .second-product-list .line {
        height: 1.6rem;
        width: 1px;
        background: #d8cece;
    }


    /*产品*/
    .product {

    }

    /*产品头部*/
    .product-header {
      background: #e4dede;
      height: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .product-header-container {
      display: flex;
      flex-direction: row;
      margin-left: 0.5rem;
        align-items: center;
    }

    .product-header-container div {
      width: 0.6rem;
      height: 0.6rem;
      display: flex;
      margin-right: 10px;
    }

    .product-header-container div img {
      width: 100%;
        height: 100%;
    }

    .product-header-container h6 {
      font-size: 0.4rem;
      color: #4e4848;
    }

    /*产品列表*/
    .product-list {

    }

    .product-container {
      display: flex;
      flex-direction: column;
      height: 2.5rem;
      justify-content: center;
      background: white;
      padding: 5px 0.5rem;
    }

    .product-container-top {
        margin-top:5px;
    }

    .product-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between
    }

    .product-top-left {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    .product-top-left-img {
        width: 1rem;
        height: 1rem;
        display: flex;
        margin-right: 10px;
    }

    .product-top-left-img img {
      width: 100%;
    }

    .product-top-left-text {

    }

    .product-top-left-text h4 {
      font-size: 0.4rem;
    }

    .product-top-left-text p {
      font-size: 0.4rem;
      color: #5a5454;
    }

    .product-top-right {
        font-size: 0.4rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        color: #5a5454;
    }

    .product-top-right span {
        color:orange;
        display: flex;
        align-items: center;
    }

    .product-middle {
      height: 1px;
      width: 100%;
      background: #d2c6c6;
      margin: 5px 0;
    }

    .product-buttom {
      display: flex;
      flex-direction: row;
      font-size: 0.4rem;
      justify-content: space-between;
      color: #5a5454;
    }


    .product-buttom-left p span{
      color: orange;
    }

    .product-buttom-right {

    }

    /*钱袋子*/
    .money {
        position: fixed;
        top:10rem;
        right:0.5rem;
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-duration: 2s;
        animation-name: ticktock;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
        animation-direction: alternate;
        animation-fill-mode: both;
        animation-play-state: running;
        transform-origin: 50%-70%;
    }

    .money div {
        width: 1rem;
        height: 1rem;
    }

    .money div img {
        width: 100%;
        height: 100%;
    }

    .money h5 {
        color: red;
        font-size: 0.5rem;
    }








