{extend name="public/app" /}
{block name="title"}<title>个人中心</title>{/block}
{block name="css"}
<link rel="stylesheet" href="__INDEX__/css/person.css">
{/block}

{block name="content"}
<div class="container">
    {if $user}
        <a href="/person/{$user->id}/edit">
            <div class="header">
                <div class="left">
                    <div>
                        <img src="{:env('APP_URL').$user['avatar']}" alt="">
                    </div>
                    <span>{$user.name}</span>
                </div>
                <p class="arrow"></p>
            </div>
        </a>
        <a href="#">
            <div class="item">
                <div class="img-text">
                    <div>
                        <img src="__INDEX__/images/person/loan.png" alt="">
                    </div>
                    <span>我的贷款</span>
                </div>
                <p class="arrow"></p>
            </div>
        </a>
        <a href="#">
            <div class="item">

                <div class="img-text">
                    <div>
                        <img src="__INDEX__/images/person/setting.png" alt="">
                    </div>
                    <span>设置</span>
                </div>
                <p class="arrow"></p>
            </div>
        </a>
        <a href="#">
            <form action="{:url('/index/logout')}" method="POST">
                <input type="hidden" name="_method" value="DELETE">
            <div class="item" onclick="$('form').submit()">
                <div class="img-text">
                    <div>
                        <img src="__INDEX__/images/person/logout.png" alt="">
                    </div>
                    <span>退出</span>
                </div>
                <p class="arrow"></p>
            </div>
            </form>
        </a>
    {else /}
        <a href="/index/login">
            <div class="header">
                <div class="left">
                    <div>
                        <img src="__INDEX__/images/person/default.png" alt="">
                    </div>
                    <span>未登录</span>
                </div>
                <p class="arrow"></p>
            </div>
        </a>
        <a href="#">
            <div class="item">
                <div class="img-text">
                    <div>
                        <img src="__INDEX__/images/person/loan.png" alt="">
                    </div>
                    <span>我的贷款</span>
                </div>
                <p class="arrow"></p>
            </div>
        </a>
        <a href="#">
            <div class="item">

                <div class="img-text">
                    <div>
                        <img src="__INDEX__/images/person/setting.png" alt="">
                    </div>
                    <span>设置</span>
                </div>
                <p class="arrow"></p>
            </div>
        </a>
    {/if}
</div>
{include file="public/_menu" /}
{/block}

{block name="js"}

{/block}